.edocuments {

  &__placeholders {

    .card {

      &-body {
        overflow: auto;
      }
    }

    &-inner {
      width: 100%;
    }

    &-close {
      $size: 30px;

      font-size: 22px;
      width: $size;
      height: $size;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &-list {
      > li {
        margin: 0 5px 5px 0;

        .btn {
          cursor: move !important;
        }
      }
    }
  }

  &__type {
    &-placeholders {
      &-list {
        font-size: 16px;
        > li {
          margin: 0 5px 5px 0;

        }
      }
    }
  }

  &__tabs {

    .dropify-wrapper {

      .dropify-preview {
        opacity: 1;

        .dropify-infos {
          opacity: 1;
        }
      }

    }



  }

}


